<div class="container mx-auto flex flex-wrap py-6 items-center justify-center">

  <!-- Posts Section -->
  <section class="w-full md:w-2/3 flex flex-col items-center px-3">
    <% if (posts.length > 0) {
      %>
      <% posts.forEach((post)=> {
        %>
        <article class="flex flex-col shadow my-4">
          <!-- Article Image -->
          <a href="/post/<%= post.slug %>" class="hover:opacity-75">
            <img src="<%= post.image %>">
          </a>
          <div class="bg-white flex flex-col justify-start p-6">
            <a href="/post/<%= post.slug %>" class="text-3xl font-bold hover:text-gray-700 pb-4"><%= post.title %></a>
            <p href="#" class="text-sm pb-3">
              By <a href="#" class="font-semibold hover:text-gray-800"><%= post.author %></a>, Published on <%= new Date(post.createdAt).toLocaleDateString("en-GB", {
                day: "2-digit",
                month: "2-digit",
                year: "2-digit",
              });
              %>
            </p>
            <a href="/post/<%= post.slug %>" class="pb-6"><%=post.subtitle %>..</a>
            <a href="/post/<%= post.slug %>" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
          </div>
        </article>

        <%
      }) %>
      <%
    } else {
      %>
      <h1 class="text-2xl font-medium title-font text-red-700 mb-12 text-center mx-auto">
        No Posts Found
      </h1>
      <%
    } %>

    <!-- Pagination -->
    <div class="flex items-center py-8">
      <% if (currentPage > 1) {
        %>
        <a href="/?page=<%= currentPage - 1 %>" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center mr-3"><i class="fas fa-arrow-left mr-2"></i> Prev</a>
        <%
      } %>

      <% for (let i = 1; i <= totalPages; i++) {
        %>
        <% if (i === currentPage) {
          %>
          <a href="/?page=<%= i %>" class="h-10 w-10 bg-blue-800 hover:bg-blue-600 font-semibold text-white text-sm flex items-center justify-center"><%= i %></a>
          <%
        } else {
          %>
          <a href="/?page=<%= i %>" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center"><%= i %></a>
          <%
        } %>
        <%
      } %>

      <% if (currentPage < totalPages) {
        %>
        <a href="/?page=<%= currentPage + 1 %>" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center ml-3">Next <i class="fas fa-arrow-right ml-2"></i></a>
        <%
      } %>
    </div>
  </section>
</div>